<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="DbContext" connectionString="Data Source=DESKTOP-2PDJ9M3; Database=gen_ai_poc; Initial Catalog=gen_ai_poc; Integrated Security=True"/>
  </connectionStrings>
  <appSettings>
    <add key="MinimumBalance" value="3000"/>
    <add key="NavAmountPerUnit" value="500"/>
    <add key="MinimumUnits" value="5"/>
    <add key="MaximumUnits" value="15"/>

    <add key="HoldingSelectQuery" value="SELECT HoldingsummaryId, UniqueId, UserId, SchemeName, OperationType, TotalUnits, Nav, Amount, TransactionDate, CreatedDate, ExitDate FROM HoldingSummary"/>
    <add key="HoldingInsertQuery" value="INSERT INTO HoldingSummary (UniqueId, UserId, SchemeName, OperationType, TotalUnits, Nav, Amount, TransactionDate, CreatedDate, ExitDate) VALUES (@UniqueId, @UserId, @SchemeName, @OperationType, @TotalUnits, @Nav, @Amount, @TransactionDate, @CreatedDate, @ExitDate)"/>
    <add key="HoldingUpdateQuery" value="UPDATE HoldingSummary SET UniqueId = @UniqueId, UserId=@UserId, SchemeName=@SchemeName, OperationType=@OperationType, TotalUnits=@TotalUnits, Nav=@Nav, Amount=@Amount, TransactionDate = @TransactionDate, CreatedDate = @CreatedDate, ExitDate=@ExitDate WHERE UniqueId = @UniqueId"/>

    <add key="TransactionSelectQuery" value="SELECT TransactionSummaryId, UniqueId, UserId, TransactionDate, Description, Amount,TransactionType FROM TransactionSummary"/>
    <add key="TransactionInsertQuery" value="INSERT INTO TransactionSummary (UniqueId,UserId,TransactionDate,Description,Amount,TransactionType) VALUES (@UniqueId,@UserId,@TransactionDate,@Description,@Amount,@TransactionType)"/>
    <add key="TransactionUpdateQuery" value="UPDATE TransactionSummary SET UniqueId = @UniqueId,TransactionDate = @TransactionDate,Description = @Description,Amount=@Amount,TransactionType=@TransactionType WHERE UniqueId = @UniqueId"/>

    <add key="MinPaymentAmount" value="1000"/>
    <add key="FundManagerName" value="Rupam Debnath"/>
    <add key="FundBankBranch" value="Branch_XYZ_FOR_FUNDS"/>
    <add key="NavAmount" value="150"/>
    <add key="InterestRate" value="7"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    
    <bindings>
      <basicHttpBinding>
        <binding maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text">
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
         
        </binding>
      </basicHttpBinding>
    </bindings>
    
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>