<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAggregatorSvc"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:52743/AggregatorSvc.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAggregatorSvc" contract="AggregatorSvcRef.IAggregatorSvc" name="BasicHttpBinding_IAggregatorSvc"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
