<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAccountInfoService" />
                <binding name="BasicHttpBinding_IAccountBankingService" />
                <binding name="BasicHttpBinding_IWithdrawService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50585/AccountInfoService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAccountInfoService"
                contract="AccountInfoService.IAccountInfoService" name="BasicHttpBinding_IAccountInfoService" />
            <endpoint address="http://localhost:50585/AccountBankingService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAccountBankingService"
                contract="AccountBankingService.IAccountBankingService" name="BasicHttpBinding_IAccountBankingService" />
            <endpoint address="http://localhost:50967/WithdrawService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWithdrawService"
                contract="WithdrawService.IWithdrawService" name="BasicHttpBinding_IWithdrawService" />
        </client>
    </system.serviceModel>
</configuration>