<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAccountInfoService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50585/AccountInfoService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAccountInfoService"
                contract="AccountInfoService.IAccountInfoService" name="BasicHttpBinding_IAccountInfoService" />
        </client>
    </system.serviceModel>
</configuration>