<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DbContext" connectionString="Data Source=DESKTOP-2PDJ9M3; Database=gen_ai_poc; Initial Catalog=gen_ai_poc; Integrated Security=True"/>
  </connectionStrings>
  <appSettings>
    <add key="MinimumBalance" value="3000"/>
    <add key="NavAmountPerUnit" value="500"/>
    <add key="MinimumUnits" value="5"/>
    <add key="MaximumUnits" value="15"/>

    <add key="HoldingSelectQuery" value="SELECT HoldingsummaryId, UniqueId, UserId, HoldingSchemeName, OperationType, TotalUnits, Nav, Amount, TransactionDate, CreatedDate, ExitDate FROM HoldingSummary"/>
    <add key="HoldingInsertQuery" value="INSERT INTO HoldingSummary (UniqueId, UserId, HoldingSchemeNameSchemeName, OperationType, TotalUnits, Nav, Amount, TransactionDate, CreatedDate, ExitDate) VALUES (@UniqueId, @UserId, @SchemeName, @OperationType, @TotalUnits, @Nav, @Amount, @TransactionDate, @CreatedDate, @ExitDate)"/>
    <add key="HoldingUpdateQuery" value="UPDATE HoldingSummary SET UniqueId = @UniqueId, UserId=@UserId, HoldingSchemeNameSchemeName=@SchemeName, OperationType=@OperationType, TotalUnits=@TotalUnits, Nav=@Nav, Amount=@Amount, TransactionDate = @TransactionDate, CreatedDate = @CreatedDate, ExitDate=@ExitDate WHERE UniqueId = @UniqueId"/>

    <add key="TransactionSelectQuery" value="SELECT TransactionSummaryId, UniqueId, UserId, TransactionDate, Description, Amount,TransactionType FROM TransactionSummary"/>
    <add key="TransactionInsertQuery" value="INSERT INTO TransactionSummary (UniqueId,UserId,TransactionDate,Description,Amount,TransactionType) VALUES (@UniqueId,@UserId,@TransactionDate,@Description,@Amount,@TransactionType)"/>
    <add key="TransactionUpdateQuery" value="UPDATE TransactionSummary SET UniqueId = @UniqueId,TransactionDate = @TransactionDate,Description = @Description,Amount=@Amount,TransactionType=@TransactionType WHERE UniqueId = @UniqueId"/>

    <add key="MinPaymentAmount" value="1000"/>
    <add key="FundManagerName" value="Rupam Debnath"/>
    <add key="FundBankBranch" value="Branch_XYZ_FOR_FUNDS"/>
    <add key="NavAmount" value="150"/>
    <add key="InterestRate" value="7"/>
  </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWithdrawService" />
                <binding name="BasicHttpBinding_IContributionService" />
                <binding name="BasicHttpBinding_IAccountBankingService" maxBufferPoolSize="20000000"
                    maxBufferSize="20000000" maxReceivedMessageSize="2147483647">
                    <readerQuotas maxDepth="32" maxStringContentLength="200000000"
                        maxArrayLength="200000000" />
                </binding>
                <binding name="BasicHttpBinding_IAccountInfoService" />
                <binding name="BasicHttpBinding_IAccountBankingService1" />
                <binding name="basicHttp" allowCookies="true" maxBufferPoolSize="20000000"
                    maxBufferSize="20000000" maxReceivedMessageSize="20000000">
                    <readerQuotas maxDepth="32" maxStringContentLength="200000000"
                        maxArrayLength="200000000" />
                </binding>
                <binding name="BasicHttpBinding_IAccountTransferService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50967/WithdrawService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWithdrawService"
                contract="WithdrawService.IWithdrawService" name="BasicHttpBinding_IWithdrawService" />
            <endpoint address="http://localhost:50967/ContributionService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IContributionService"
                contract="ContributionService.IContributionService" name="BasicHttpBinding_IContributionService" />
            <endpoint address="http://localhost:50586/AccountBankingService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAccountBankingService"
                contract="AccountBankingService.IAccountBankingService" name="BasicHttpBinding_IAccountBankingService" />
            <endpoint address="http://localhost:50586/AccountInfoService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAccountInfoService"
                contract="AccountInfoService.IAccountInfoService" name="BasicHttpBinding_IAccountInfoService" />
            <endpoint address="http://localhost:50586/AccountBankingService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAccountBankingService"
                contract="AccountBankingService.IAccountBankingService" name="BasicHttpBinding_IAccountBankingService1" />
            <endpoint address="http://localhost:62803/AccountTransferService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAccountTransferService"
                contract="AccountTransferService.IAccountTransferService"
                name="BasicHttpBinding_IAccountTransferService" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
