<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAccountBankingService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50585/AccountBankingService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAccountBankingService"
                contract="AccountBankingService.IAccountBankingService" name="BasicHttpBinding_IAccountBankingService" />
        </client>
    </system.serviceModel>
</configuration>
