<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DbContext" connectionString="Data Source=DESKTOP-2PDJ9M3; Database=gen_ai_poc; Initial Catalog=gen_ai_poc; Integrated Security=True"/>
  </connectionStrings>
  <appSettings>
    <add key="MinimumBalance" value="3000"/>
    <add key="NavAmountPerUnit" value="500"/>
    <add key="MinimumUnits" value="5"/>
    <add key="MaximumUnits" value="15"/>

    <add key="HoldingSelectQuery" value="SELECT HoldingsummaryId, UniqueId, UserId, HoldingSchemeName, OperationType, TotalUnits, Nav, Amount, TransactionDate, CreatedDate, ExitDate FROM HoldingSummary"/>
    <add key="HoldingInsertQuery" value="INSERT INTO HoldingSummary (UniqueId, UserId, HoldingSchemeNameSchemeName, OperationType, TotalUnits, Nav, Amount, TransactionDate, CreatedDate, ExitDate) VALUES (@UniqueId, @UserId, @SchemeName, @OperationType, @TotalUnits, @Nav, @Amount, @TransactionDate, @CreatedDate, @ExitDate)"/>
    <add key="HoldingUpdateQuery" value="UPDATE HoldingSummary SET UniqueId = @UniqueId, UserId=@UserId, HoldingSchemeNameSchemeName=@SchemeName, OperationType=@OperationType, TotalUnits=@TotalUnits, Nav=@Nav, Amount=@Amount, TransactionDate = @TransactionDate, CreatedDate = @CreatedDate, ExitDate=@ExitDate WHERE UniqueId = @UniqueId"/>

    <add key="TransactionSelectQuery" value="SELECT TransactionSummaryId, UniqueId, UserId, TransactionDate, Description, Amount,TransactionType FROM TransactionSummary"/>
    <add key="TransactionInsertQuery" value="INSERT INTO TransactionSummary (UniqueId,UserId,TransactionDate,Description,Amount,TransactionType) VALUES (@UniqueId,@UserId,@TransactionDate,@Description,@Amount,@TransactionType)"/>
    <add key="TransactionUpdateQuery" value="UPDATE TransactionSummary SET UniqueId = @UniqueId,TransactionDate = @TransactionDate,Description = @Description,Amount=@Amount,TransactionType=@TransactionType WHERE UniqueId = @UniqueId"/>

    <add key="MinPaymentAmount" value="1000"/>
    <add key="FundManagerName" value="Rupam Debnath"/>
    <add key="FundBankBranch" value="Branch_XYZ_FOR_FUNDS"/>
    <add key="NavAmount" value="150"/>
    <add key="InterestRate" value="7"/>
  </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
              <binding name="BasicHttpBinding_IService1"
                       maxReceivedMessageSize="20000000" maxBufferSize="20000000"
                     maxBufferPoolSize="20000000">
                <readerQuotas maxDepth="32"
                 maxArrayLength="200000000"
                 maxStringContentLength="200000000"/>
              </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:54413/Service1.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1" contract="AggregatorSvcAuth.IService1" name="BasicHttpBinding_IService1" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.1" newVersion="4.0.5.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
