<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="RuleSetStoreConnectionString" connectionString="Initial Catalog=Rules;Data Source=BLRKEC75659L;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="MulitenancyWcf.FacilityService">
        <endpoint address="" behaviorConfiguration="InterceptorEndPointBehavior"
					  binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFacilityService" name="FacilityServiceEndpoint"
				  bindingNamespace="urn:MulitenancyWcf"
				  contract="MulitenancyWcf.IFacilityService" />
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IFacilityService" closeTimeout="00:01:00"
    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
    useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IFacilityValidation" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IIncomeTax" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_ISalaryDetails" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:50780/FacilityValidation.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFacilityValidation"
        contract="IFacilityValidation" name="BasicHttpBinding_IFacilityValidation"  behaviorConfiguration="CredentialsEndpointBehavior"/>
      <endpoint address="http://localhost:50780/IncomeTax.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IIncomeTax" contract="IIncomeTax"
        name="BasicHttpBinding_IIncomeTax" behaviorConfiguration="CredentialsEndpointBehavior" />
      <endpoint address="http://localhost:50780/SalaryDetails.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISalaryDetails"
        contract="ISalaryDetails" name="BasicHttpBinding_ISalaryDetails" behaviorConfiguration="CredentialsEndpointBehavior"/>
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="CredentialsEndpointBehavior">
          <credentialsInspector />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
        <behavior name="InterceptorEndPointBehavior">
          <InterceptorBehavior />
        </behavior>

      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="credentialsInspector" type="ClientInfrastructure.Wcf.ClientInterceptorBehavior, ClientInfrastructure.Wcf, Version=1.0.0.0, Culture=neutral" />
        <add name="InterceptorBehavior" type="ServiceInterceptor.InjectionEndpointBehavior, ServiceInterceptor, Version=1.0.0.0, Culture=neutral" />
      </behaviorExtensions>
    </extensions>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true"/>
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <appSettings>
    <add key="XamlPath" value="D:\DeployedXaml\"/>
  </appSettings>
</configuration>
