<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="DbContext" connectionString="Data Source=DESKTOP-2PDJ9M3; Database=gen_ai_poc; Initial Catalog=gen_ai_poc; Integrated Security=True"/>
  </connectionStrings>
  <appSettings>
    <add key="ServiceProviderConfigLocation" value="Config\ServiceProviderConfig.xml"/>
    <add key="OrchestratorConfigLocation" value="Config\OrchestratorConfig.xml"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basicBindingConfiguration" closeTimeout="00:05:00"
                openTimeout="00:05:00" receiveTimeout="00:10:00" sendTimeout="00:05:00"
                allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />

          <security mode="Transport">

          </security>
        </binding>
        <binding name="BasicHttpBinding_IWithdrawService">
          <security mode="Transport" >
            <transport clientCredentialType="None"/>
          </security>
        </binding>
        <binding name="BasicHttpBinding_IContributionService">
          <security mode="Transport" >
            <transport clientCredentialType="None"/>
          </security>
        </binding>
        <binding name="BasicHttpBinding_IAccountBankingService">
          <security mode="Transport" >
            <transport clientCredentialType="None"/>
          </security>
        </binding>
        <binding name="BasicHttpBinding_IAccountInfoService">
          <security mode="Transport" >
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://localhost:44397/WithdrawService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWithdrawService" contract="WithdrawService.IWithdrawService" name="BasicHttpBinding_IWithdrawService"/>
      <endpoint address="https://localhost:44397/ContributionService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IContributionService" contract="ContributionService.IContributionService" name="BasicHttpBinding_IContributionService"/>
      <endpoint address="https://localhost:44362/AccountBankingService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAccountBankingService" contract="AccountBankingService.IAccountBankingService" name="BasicHttpBinding_IAccountBankingService"/>
      <endpoint address="https://localhost:44362/AccountInfoService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAccountInfoService" contract="AccountInfoService.IAccountInfoService" name="BasicHttpBinding_IAccountInfoService1"/>
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="customBehavior">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <services>
      <service name="AggregatorSvcService.AggregatorSvc"
               behaviorConfiguration="customBehavior">
        <endpoint address=""
                  binding="basicHttpBinding"
                  bindingConfiguration="basicBindingConfiguration"
                  contract="AggregatorSvcService.IAggregatorSvc" />
      </service>
    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>