<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="DbContext" connectionString="Data Source=DESKTOP-2PDJ9M3; Database=gen_ai_poc; Initial Catalog=gen_ai_poc; Integrated Security=True"/>
  </connectionStrings>
  <appSettings>
    <add key="ServiceProviderConfigLocation" value="Config\ServiceProviderConfig.xml"/>
    <add key="OrchestratorConfigLocation" value="Config\OrchestratorConfig.xml"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWithdrawService"/>
        <binding name="BasicHttpBinding_IContributionService"/>
        <binding name="BasicHttpBinding_IAccountBankingService"/>
        <binding name="BasicHttpBinding_IAccountInfoService"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:50967/WithdrawService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWithdrawService" contract="WithdrawService.IWithdrawService" name="BasicHttpBinding_IWithdrawService"/>
      <endpoint address="http://localhost:50967/ContributionService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IContributionService" contract="ContributionService.IContributionService" name="BasicHttpBinding_IContributionService"/>
      <endpoint address="http://localhost:50586/AccountBankingService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAccountBankingService" contract="AccountBankingService.IAccountBankingService" name="BasicHttpBinding_IAccountBankingService"/>
      <endpoint address="http://localhost:50586/AccountInfoService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAccountInfoService" contract="AccountInfoService.IAccountInfoService" name="BasicHttpBinding_IAccountInfoService1"/>
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpBinding" scheme="http"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>