<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="XamlPath" value="C:\DeployedXaml\"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IFacilityService" closeTimeout="20:01:00"
          openTimeout="20:01:00" receiveTimeout="20:10:00" sendTimeout="20:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
     
      <endpoint address="http://localhost:56782/FacilityService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFacilityService"
        contract="FacilityServiceClient.IFacilityService" name="BasicHttpBinding_IFacilityService" />
    </client>
  </system.serviceModel>
</configuration>